protocol-terminators/epsos-ncp-server/epsos-ws-server/src/main/resources/schema/COCT_MT030007UV.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:hl7-org:v3" xmlns:ex="urn:hl7-org/v3-example" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:hl7-org:v3">
    <xs:annotation>
        <xs:documentation>Generated using schema builder version 3.1.6. Stylesheets:

StaticMifToXsd.xsl version 2.0</xs:documentation>
    </xs:annotation>
    <xs:include schemaLocation="infrastructureRoot.xsd"/>
    <xs:include schemaLocation="COCT_MT150000UV02.xsd"/>
    <xs:include schemaLocation="COCT_MT030202UV01.xsd"/>
    <xs:include schemaLocation="COCT_MT150002UV01.xsd"/>
    <xs:include schemaLocation="COCT_MT710000UV01.xsd"/>
    <xs:complexType name="COCT_MT030007UV.BirthPlace">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element name="birthplace" nillable="true" type="COCT_MT710000UV01.Place"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute fixed="BIRTHPL" name="classCode" type="RoleClass" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT030007UV.Citizen">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="id" type="II"/>
            <xs:element minOccurs="0" name="effectiveTime" type="IVL_TS"/>
            <xs:element name="politicalOrganization" nillable="true" type="COCT_MT150000UV02.Organization"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute fixed="CIT" name="classCode" type="RoleClass" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT030007UV.ContactParty">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="id" type="II"/>
            <xs:element minOccurs="0" name="code" type="CE"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="addr" type="AD"/>
            <xs:element maxOccurs="unbounded" name="telecom" type="TEL"/>
            <xs:element minOccurs="0" name="statusCode" type="CS"/>
            <xs:element minOccurs="0" name="effectiveTime" type="IVL_TS"/>
            <xs:choice>
                <xs:element name="contactPerson" nillable="true" type="COCT_MT030202UV01.Person"/>
                <xs:element name="contactOrganization" nillable="true" type="COCT_MT150002UV01.Organization"/>
            </xs:choice>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="RoleClassContact" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT030007UV.Employment">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="id" type="II"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="addr" type="AD"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="telecom" type="TEL"/>
            <xs:element minOccurs="0" name="statusCode" type="CS"/>
            <xs:element minOccurs="0" name="effectiveTime" type="IVL_TS"/>
            <xs:element minOccurs="0" name="jobCode" type="CE"/>
            <xs:element minOccurs="0" name="jobTitleName" type="SC"/>
            <xs:element minOccurs="0" name="jobClassCode" type="CE"/>
            <xs:element minOccurs="0" name="employerOrganization" nillable="true" type="COCT_MT150000UV02.Organization"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="RoleClassEmployee" use="required"/>
        <xs:attribute name="negationInd" type="bl" use="optional"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT030007UV.Entity">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="id" type="II"/>
            <xs:element minOccurs="0" name="quantity" type="INT"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="name" type="EN"/>
            <xs:element minOccurs="0" name="desc" type="ED"/>
            <xs:element minOccurs="0" name="statusCode" type="CS"/>
            <xs:element minOccurs="0" name="existenceTime" type="IVL_TS"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="EntityClassRoot" use="required"/>
        <xs:attribute fixed="INSTANCE" name="determinerCode" type="EntityDeterminer" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT030007UV.Guarantor">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="id" type="II"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="addr" type="AD"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="telecom" type="TEL"/>
            <xs:element minOccurs="0" name="statusCode" type="CS"/>
            <xs:element minOccurs="0" name="effectiveTime" type="IVL_TS"/>
            <xs:choice>
                <xs:element name="guarantorPerson" nillable="true" type="COCT_MT030202UV01.Person"/>
                <xs:element name="guarantorOrganization" nillable="true" type="COCT_MT150002UV01.Organization"/>
            </xs:choice>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute fixed="GUAR" name="classCode" type="RoleClass" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT030007UV.Guardian">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="id" type="II"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="addr" type="AD"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="telecom" type="TEL"/>
            <xs:element minOccurs="0" name="statusCode" type="CS"/>
            <xs:element minOccurs="0" name="effectiveTime" type="IVL_TS"/>
            <xs:element minOccurs="0" name="certificateText" type="ED"/>
            <xs:choice>
                <xs:element name="guardianPerson" nillable="true" type="COCT_MT030202UV01.Person"/>
                <xs:element name="guardianOrganization" nillable="true" type="COCT_MT150002UV01.Organization"/>
            </xs:choice>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute fixed="GUARD" name="classCode" type="RoleClass" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT030007UV.LanguageCommunication">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element name="languageCode" type="CE"/>
            <xs:element minOccurs="0" name="modeCode" type="CE"/>
            <xs:element minOccurs="0" name="proficiencyLevelCode" type="CE"/>
            <xs:element minOccurs="0" name="preferenceInd" type="BL"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT030007UV.Member">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="id" type="II"/>
            <xs:element minOccurs="0" name="code" type="CE"/>
            <xs:element minOccurs="0" name="statusCode" type="CS"/>
            <xs:element minOccurs="0" name="effectiveTime" type="IVL_TS"/>
            <xs:element name="groupEntity" nillable="true" type="COCT_MT030007UV.Entity"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute fixed="MBR" name="classCode" type="RoleClass" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT030007UV.NonPersonLivingSubject">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="id" type="II"/>
            <xs:element minOccurs="0" name="quantity" type="INT"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="name" type="EN"/>
            <xs:element minOccurs="0" name="desc" type="ED"/>
            <xs:element minOccurs="0" name="statusCode" type="CS"/>
            <xs:element minOccurs="0" name="existenceTime" type="IVL_TS"/>
            <xs:element minOccurs="0" name="riskCode" type="CE"/>
            <xs:element minOccurs="0" name="handlingCode" type="CE"/>
            <xs:element minOccurs="0" name="administrativeGenderCode" type="CE"/>
            <xs:element minOccurs="0" name="birthTime" type="TS"/>
            <xs:element minOccurs="0" name="deceasedInd" type="BL"/>
            <xs:element minOccurs="0" name="multipleBirthInd" type="BL"/>
            <xs:element minOccurs="0" name="multipleBirthOrderNumber" type="INT"/>
            <xs:element minOccurs="0" name="organDonorInd" type="BL"/>
            <xs:element minOccurs="0" name="strainText" type="ED"/>
            <xs:element minOccurs="0" name="genderStatusCode" type="CE"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="asMember" nillable="true" type="COCT_MT030007UV.Member"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="asOtherIDs" nillable="true" type="COCT_MT030007UV.OtherIDs"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="contactParty" nillable="true" type="COCT_MT030007UV.ContactParty"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="guardian" nillable="true" type="COCT_MT030007UV.Guardian"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="guarantor" nillable="true" type="COCT_MT030007UV.Guarantor"/>
            <xs:element minOccurs="0" name="birthPlace" nillable="true" type="COCT_MT030007UV.BirthPlace"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="EntityClassNonPersonLivingSubject" use="required"/>
        <xs:attribute name="determinerCode" type="x_DeterminerInstanceKind" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT030007UV.OtherIDs">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element maxOccurs="unbounded" name="id" type="II"/>
            <xs:element minOccurs="0" name="scopingOrganization" nillable="true" type="COCT_MT150000UV02.Organization"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="RoleClassRoot" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT030007UV.Person">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="id" type="II"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="name" type="EN"/>
            <xs:element minOccurs="0" name="desc" type="ED"/>
            <xs:element minOccurs="0" name="statusCode" type="CS"/>
            <xs:element minOccurs="0" name="administrativeGenderCode" type="CE"/>
            <xs:element minOccurs="0" name="birthTime" type="TS"/>
            <xs:element minOccurs="0" name="deceasedInd" type="BL"/>
            <xs:element minOccurs="0" name="deceasedTime" type="TS"/>
            <xs:element minOccurs="0" name="multipleBirthInd" type="BL"/>
            <xs:element minOccurs="0" name="multipleBirthOrderNumber" type="INT"/>
            <xs:element minOccurs="0" name="organDonorInd" type="BL"/>
            <xs:element minOccurs="0" name="maritalStatusCode" type="CE"/>
            <xs:element minOccurs="0" name="educationLevelCode" type="CE"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="disabilityCode" type="CE"/>
            <xs:element minOccurs="0" name="livingArrangementCode" type="CE"/>
            <xs:element minOccurs="0" name="religiousAffiliationCode" type="CE"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="raceCode" type="CE"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="ethnicGroupCode" type="CE"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="asEmployment" nillable="true" type="COCT_MT030007UV.Employment"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="asCitizen" nillable="true" type="COCT_MT030007UV.Citizen"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="asStudent" nillable="true" type="COCT_MT030007UV.Student"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="asMember" nillable="true" type="COCT_MT030007UV.Member"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="asOtherIDs" nillable="true" type="COCT_MT030007UV.OtherIDs"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="contactParty" nillable="true" type="COCT_MT030007UV.ContactParty"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="guardian" nillable="true" type="COCT_MT030007UV.Guardian"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="guarantor" nillable="true" type="COCT_MT030007UV.Guarantor"/>
            <xs:element minOccurs="0" name="birthPlace" nillable="true" type="COCT_MT030007UV.BirthPlace"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="languageCommunication" nillable="true" type="COCT_MT030007UV.LanguageCommunication"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute fixed="PSN" name="classCode" type="EntityClass" use="required"/>
        <xs:attribute name="determinerCode" type="x_DeterminerInstanceKind" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT030007UV.Student">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="id" type="II"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="addr" type="AD"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="telecom" type="TEL"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="statusCode" type="CS"/>
            <xs:element minOccurs="0" name="effectiveTime" type="IVL_TS"/>
            <xs:element minOccurs="0" name="schoolOrganization" nillable="true" type="COCT_MT150000UV02.Organization"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute fixed="STD" name="classCode" type="RoleClass" use="required"/>
    </xs:complexType>
</xs:schema>
