protocol-terminators/epsos-ncp-server/epsos-ws-server/src/main/resources/schema/COCT_MT530000UV.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:hl7-org:v3" xmlns:ex="urn:hl7-org/v3-example" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:hl7-org:v3">
    <xs:annotation>
        <xs:documentation>Generated using schema builder version 3.1.6. Stylesheets:

StaticMifToXsd.xsl version 2.0</xs:documentation>
    </xs:annotation>
    <xs:include schemaLocation="infrastructureRoot.xsd"/>
    <xs:include schemaLocation="COCT_MT230100UV.xsd"/>
    <xs:include schemaLocation="COCT_MT080000UV.xsd"/>
    <xs:include schemaLocation="COCT_MT050000UV01.xsd"/>
    <xs:include schemaLocation="COCT_MT090000UV01.xsd"/>
    <xs:include schemaLocation="COCT_MT090102UV02.xsd"/>
    <xs:complexType name="COCT_MT530000UV.Act">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="id" type="II"/>
            <xs:element name="code" type="CD"/>
            <xs:element minOccurs="0" name="text" type="ED"/>
            <xs:element minOccurs="0" name="statusCode" type="CS"/>
            <xs:element minOccurs="0" name="effectiveTime" type="IVL_TS"/>
            <xs:element minOccurs="0" name="availabilityTime" type="TS"/>
            <xs:element minOccurs="0" name="priorityCode" type="CE"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="confidentialityCode" type="CE"/>
            <xs:element minOccurs="0" name="uncertaintyCode" type="CE"/>
            <xs:element minOccurs="0" name="languageCode" type="CE"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="subject" nillable="true" type="COCT_MT530000UV.Subject2"/>
            <xs:element minOccurs="0" name="recordTarget" nillable="true" type="COCT_MT530000UV.RecordTarget"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="responsibleParty" nillable="true" type="COCT_MT530000UV.ResponsibleParty2"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="performer" nillable="true" type="COCT_MT530000UV.Performer"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="author" nillable="true" type="COCT_MT530000UV.Author"/>
            <xs:element minOccurs="0" name="dataEnterer" nillable="true" type="COCT_MT530000UV.DataEnterer"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="informant" nillable="true" type="COCT_MT530000UV.Informant"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="verifier" nillable="true" type="COCT_MT530000UV.Verifier"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="location" nillable="true" type="COCT_MT530000UV.Location"/>
            <xs:element minOccurs="0" name="definition" nillable="true" type="COCT_MT530000UV.Definition"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="conditions" nillable="true" type="COCT_MT530000UV.Conditions"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="sourceOf1" nillable="true" type="COCT_MT530000UV.SourceOf1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="sourceOf2" nillable="true" type="COCT_MT530000UV.SourceOf3"/>
            <xs:element minOccurs="0" name="subjectOf" nillable="true" type="COCT_MT530000UV.Subject1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="targetOf" nillable="true" type="COCT_MT530000UV.SourceOf2"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="ActClassRoot" use="required"/>
        <xs:attribute name="moodCode" type="x_ClinicalStatementActMood" use="required"/>
        <xs:attribute name="negationInd" type="bl" use="optional"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT530000UV.ActDefinition">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element name="id" type="II"/>
            <xs:element minOccurs="0" name="text" type="ED"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="ActClassRoot" use="required"/>
        <xs:attribute fixed="DEF" name="moodCode" type="ActMood" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT530000UV.ActReference">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element name="id" type="II"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="ActClassRoot" use="required"/>
        <xs:attribute name="moodCode" type="ActMood" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT530000UV.AdministerableMaterial">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element name="administerableMaterialKind" type="COCT_MT530000UV.MaterialKind"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute fixed="ADMM" name="classCode" type="RoleClass" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT530000UV.Animal">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element name="code" type="CE"/>
            <xs:element minOccurs="0" name="quantity" type="PQ"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="name" type="EN"/>
            <xs:element minOccurs="0" name="desc" type="ED"/>
            <xs:element minOccurs="0" name="administrativeGenderCode" type="CE"/>
            <xs:element minOccurs="0" name="birthTime" type="TS"/>
            <xs:element minOccurs="0" name="strainText" type="ST"/>
            <xs:element minOccurs="0" name="genderStatusCode" type="CE"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="asRole" nillable="true" type="COCT_MT530000UV.Role"/>
            <xs:element minOccurs="0" name="birthplace" nillable="true" type="COCT_MT530000UV.Birthplace"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute fixed="ANM" name="classCode" type="EntityClass" use="required"/>
        <xs:attribute fixed="INSTANCE" name="determinerCode" type="EntityDeterminer" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT530000UV.Author">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element minOccurs="0" name="noteText" type="ED"/>
            <xs:element minOccurs="0" name="time" type="TS"/>
            <xs:element minOccurs="0" name="modeCode" type="CE"/>
            <xs:element minOccurs="0" name="signatureCode" type="CE"/>
            <xs:element minOccurs="0" name="signatureText" type="ED"/>
            <xs:choice>
                <xs:element name="relatedEntity" nillable="true" type="COCT_MT530000UV.RelatedEntity"/>
                <xs:element name="patient" nillable="true" type="COCT_MT050000UV01.Patient"/>
                <xs:element name="assignedEntity" nillable="true" type="COCT_MT090000UV01.AssignedEntity"/>
            </xs:choice>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute fixed="AUT" name="typeCode" type="ParticipationType" use="required"/>
        <xs:attribute default="OP" name="contextControlCode" type="ContextControl" use="optional"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT530000UV.Birthplace">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element name="birthplace" nillable="true" type="COCT_MT530000UV.Place"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute fixed="BIRTHPL" name="classCode" type="RoleClass" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT530000UV.Component">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element minOccurs="0" name="sequenceNumber" type="INT"/>
            <xs:element minOccurs="0" name="seperatableInd" type="BL"/>
            <xs:choice>
                <xs:choice>
                    <xs:element name="observation" nillable="true" type="COCT_MT530000UV.Observation"/>
                    <xs:element name="substanceAdministration" nillable="true" type="COCT_MT530000UV.SubstanceAdministration"/>
                    <xs:element name="supply" nillable="true" type="COCT_MT530000UV.Supply"/>
                    <xs:element name="procedure" nillable="true" type="COCT_MT530000UV.Procedure"/>
                    <xs:element name="encounter" nillable="true" type="COCT_MT530000UV.Encounter"/>
                    <xs:element name="act" nillable="true" type="COCT_MT530000UV.Act"/>
                    <xs:element name="organizer" nillable="true" type="COCT_MT530000UV.Organizer"/>
                </xs:choice>
                <xs:element name="actReference" nillable="true" type="COCT_MT530000UV.ActReference"/>
            </xs:choice>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="ActRelationshipHasComponent" use="required"/>
        <xs:attribute name="contextControlCode" type="ContextControl" use="optional"/>
        <xs:attribute default="true" name="contextConductionInd" type="bl" use="optional"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT530000UV.Conditions">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element minOccurs="0" name="conjunctionCode" type="CS"/>
            <xs:element minOccurs="0" name="seperatableInd" type="BL"/>
            <xs:element name="criterion" nillable="true" type="COCT_MT530000UV.Criterion"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="ActRelationshipConditional" use="required"/>
        <xs:attribute default="ON" name="contextControlCode" type="ContextControl" use="optional"/>
        <xs:attribute default="false" name="contextConductionInd" type="bl" use="optional"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT530000UV.Consumable">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:choice>
                <xs:element name="administerableMaterial" nillable="true" type="COCT_MT530000UV.AdministerableMaterial"/>
                <xs:element name="medication" nillable="true" type="COCT_MT230100UV.Medication"/>
            </xs:choice>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute fixed="CSM" name="typeCode" type="ParticipationType" use="required"/>
        <xs:attribute name="contextControlCode" type="ContextControl" use="optional"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT530000UV.ControlActEvent">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element minOccurs="0" name="id" type="II"/>
            <xs:element name="code" type="CD"/>
            <xs:element name="statusCode" type="CS"/>
            <xs:element name="effectiveTime" type="TS"/>
            <xs:element minOccurs="0" name="reasonCode" type="CV"/>
            <xs:element minOccurs="0" name="responsibleParty" nillable="true" type="COCT_MT530000UV.ResponsibleParty1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="author" nillable="true" type="COCT_MT530000UV.Author"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute fixed="CACT" name="classCode" type="ActClassControlAct" use="optional"/>
        <xs:attribute fixed="EVN" name="moodCode" type="ActMood" use="optional"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT530000UV.Criterion">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element minOccurs="0" name="code" type="CD"/>
            <xs:element minOccurs="0" name="text" type="ED"/>
            <xs:element name="value" type="ANY"/>
            <xs:element name="interpretationCode" type="CE"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="precondition" nillable="true" type="COCT_MT530000UV.Precondition2"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="ActClassObservation" use="required"/>
        <xs:attribute fixed="EVN.CRT" name="moodCode" type="ActMood" use="required"/>
        <xs:attribute default="false" name="negationInd" type="bl" use="optional"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT530000UV.DataEnterer">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element minOccurs="0" name="time" type="TS"/>
            <xs:element minOccurs="0" name="modeCode" type="CE"/>
            <xs:element minOccurs="0" name="signatureCode" type="CE"/>
            <xs:element minOccurs="0" name="signatureText" type="ED"/>
            <xs:element name="assignedEntity" nillable="true" type="COCT_MT090000UV01.AssignedEntity"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute fixed="ENT" name="typeCode" type="ParticipationType" use="required"/>
        <xs:attribute default="OP" name="contextControlCode" type="ContextControl" use="optional"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT530000UV.Definition">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element name="actDefinition" nillable="true" type="COCT_MT530000UV.ActDefinition"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute fixed="INST" name="typeCode" type="ActRelationshipType" use="required"/>
        <xs:attribute default="AN" name="contextControlCode" type="ContextControl" use="optional"/>
        <xs:attribute default="false" name="contextConductionInd" type="bl" use="optional"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT530000UV.Device">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element name="manufacturedProduct" nillable="true" type="COCT_MT530000UV.ManufacturedProduct"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="ParticipationTargetDevice" use="required"/>
        <xs:attribute name="contextControlCode" type="ContextControl" use="optional"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT530000UV.Encounter">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="id" type="II"/>
            <xs:element minOccurs="0" name="code" type="CD"/>
            <xs:element minOccurs="0" name="text" type="ED"/>
            <xs:element minOccurs="0" name="statusCode" type="CS"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="effectiveTime" type="SXCM_TS"/>
            <xs:element minOccurs="0" name="availabilityTime" type="TS"/>
            <xs:element minOccurs="0" name="priorityCode" type="CE"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="confidentialityCode" type="CE"/>
            <xs:element minOccurs="0" name="admissionReferralSourceCode" type="CE"/>
            <xs:element minOccurs="0" name="lengthOfStayQuantity" type="PQ"/>
            <xs:element minOccurs="0" name="dischargeDispositionCode" type="CE"/>
            <xs:element minOccurs="0" name="preAdmitTestInd" type="BL"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="specialCourtesiesCode" type="CE"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="specialArrangementCode" type="CE"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="subject" nillable="true" type="COCT_MT530000UV.Subject2"/>
            <xs:element minOccurs="0" name="recordTarget" nillable="true" type="COCT_MT530000UV.RecordTarget"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="responsibleParty" nillable="true" type="COCT_MT530000UV.ResponsibleParty2"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="performer" nillable="true" type="COCT_MT530000UV.Performer"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="author" nillable="true" type="COCT_MT530000UV.Author"/>
            <xs:element minOccurs="0" name="dataEnterer" nillable="true" type="COCT_MT530000UV.DataEnterer"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="informant" nillable="true" type="COCT_MT530000UV.Informant"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="verifier" nillable="true" type="COCT_MT530000UV.Verifier"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="location" nillable="true" type="COCT_MT530000UV.Location"/>
            <xs:element minOccurs="0" name="definition" nillable="true" type="COCT_MT530000UV.Definition"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="conditions" nillable="true" type="COCT_MT530000UV.Conditions"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="sourceOf1" nillable="true" type="COCT_MT530000UV.SourceOf1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="sourceOf2" nillable="true" type="COCT_MT530000UV.SourceOf3"/>
            <xs:element minOccurs="0" name="subjectOf" nillable="true" type="COCT_MT530000UV.Subject1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="targetOf" nillable="true" type="COCT_MT530000UV.SourceOf2"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute fixed="ENC" name="classCode" type="ActClass" use="required"/>
        <xs:attribute name="moodCode" type="x_ClinicalStatementEncounterMood" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT530000UV.Entity">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="id" type="II"/>
            <xs:element minOccurs="0" name="code" type="CE"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="quantity" type="PQ"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="name" type="EN"/>
            <xs:element minOccurs="0" name="desc" type="ED"/>
            <xs:element minOccurs="0" name="statusCode" type="CS"/>
            <xs:element minOccurs="0" name="riskCode" type="CE"/>
            <xs:element minOccurs="0" name="handlingCode" type="CE"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="asRole" nillable="true" type="COCT_MT530000UV.Role"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="EntityClassRoot" use="required"/>
        <xs:attribute fixed="INSTANCE" name="determinerCode" type="EntityDeterminer" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT530000UV.HealthCareFacility">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element minOccurs="0" name="id" type="II"/>
            <xs:element minOccurs="0" name="code" type="CE"/>
            <xs:element minOccurs="0" name="location" nillable="true" type="COCT_MT530000UV.Place"/>
            <xs:element minOccurs="0" name="serviceProviderOrganization" nillable="true" type="COCT_MT530000UV.Organization"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="RoleClassServiceDeliveryLocation" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT530000UV.Informant">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element minOccurs="0" name="functionCode" type="CE"/>
            <xs:element minOccurs="0" name="time" type="IVL_TS"/>
            <xs:element minOccurs="0" name="modeCode" type="CE"/>
            <xs:choice>
                <xs:element name="relatedEntity" nillable="true" type="COCT_MT530000UV.RelatedEntity"/>
                <xs:element name="patient" nillable="true" type="COCT_MT050000UV01.Patient"/>
                <xs:element name="assignedEntity" nillable="true" type="COCT_MT090000UV01.AssignedEntity"/>
            </xs:choice>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute fixed="INF" name="typeCode" type="ParticipationType" use="required"/>
        <xs:attribute default="OP" name="contextControlCode" type="ContextControl" use="optional"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT530000UV.LabeledDrug">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element minOccurs="0" name="code" type="CE"/>
            <xs:element minOccurs="0" name="name" type="EN"/>
            <xs:element minOccurs="0" name="expirationTime" type="IVL_TS"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="EntityClassManufacturedMaterial" use="required"/>
        <xs:attribute name="determinerCode" type="EntityDeterminer" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT530000UV.Location">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element name="healthCareFacility" nillable="true" type="COCT_MT530000UV.HealthCareFacility"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="ParticipationTargetLocation" use="required"/>
        <xs:attribute name="contextControlCode" type="ContextControl" use="optional"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT530000UV.ManufacturedProduct">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="id" type="II"/>
            <xs:choice>
                <xs:element name="manufacturedLabeledDrug" nillable="true" type="COCT_MT530000UV.LabeledDrug"/>
                <xs:element name="manufacturedMaterial" nillable="true" type="COCT_MT530000UV.Material"/>
            </xs:choice>
            <xs:element minOccurs="0" name="manufacturerOrganization" nillable="true" type="COCT_MT530000UV.Organization"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="RoleClassManufacturedProduct" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT530000UV.Material">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element minOccurs="0" name="code" type="CE"/>
            <xs:element minOccurs="0" name="name" type="EN"/>
            <xs:element minOccurs="0" name="lotNumberText" type="ST"/>
            <xs:element minOccurs="0" name="expirationTime" type="IVL_TS"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="EntityClassManufacturedMaterial" use="required"/>
        <xs:attribute name="determinerCode" type="EntityDeterminer" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT530000UV.MaterialKind">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element minOccurs="0" name="code" type="CE"/>
            <xs:element minOccurs="0" name="desc" type="ST"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="materialPart" nillable="true" type="COCT_MT530000UV.MaterialPart"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="EntityClassMaterial" use="required"/>
        <xs:attribute name="determinerCode" type="EntityDeterminerDetermined" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT530000UV.MaterialKind2">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element minOccurs="0" name="code" type="CV"/>
            <xs:element minOccurs="0" name="desc" type="ST"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="EntityClassMaterial" use="required"/>
        <xs:attribute name="determinerCode" type="EntityDeterminerDetermined" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT530000UV.MaterialPart">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element name="partMaterialKind" type="COCT_MT530000UV.MaterialKind2"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="RoleClassPartitive" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT530000UV.Observation">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="id" type="II"/>
            <xs:element name="code" type="CD"/>
            <xs:element minOccurs="0" name="derivationExpr" type="ST"/>
            <xs:element minOccurs="0" name="text" type="ED"/>
            <xs:element minOccurs="0" name="statusCode" type="CS"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="effectiveTime" type="SXCM_TS"/>
            <xs:element minOccurs="0" name="availabilityTime" type="TS"/>
            <xs:element minOccurs="0" name="priorityCode" type="CE"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="confidentialityCode" type="CE"/>
            <xs:element minOccurs="0" name="repeatNumber" type="IVL_INT"/>
            <xs:element minOccurs="0" name="uncertaintyCode" type="CE"/>
            <xs:element minOccurs="0" name="languageCode" type="CE"/>
            <xs:element minOccurs="0" name="value" type="ANY"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="interpretationCode" type="CE"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="methodCode" type="CE"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="targetSiteCode" type="CD"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="subject" nillable="true" type="COCT_MT530000UV.Subject2"/>
            <xs:element minOccurs="0" name="recordTarget" nillable="true" type="COCT_MT530000UV.RecordTarget"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="responsibleParty" nillable="true" type="COCT_MT530000UV.ResponsibleParty2"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="performer" nillable="true" type="COCT_MT530000UV.Performer"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="author" nillable="true" type="COCT_MT530000UV.Author"/>
            <xs:element minOccurs="0" name="dataEnterer" nillable="true" type="COCT_MT530000UV.DataEnterer"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="informant" nillable="true" type="COCT_MT530000UV.Informant"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="verifier" nillable="true" type="COCT_MT530000UV.Verifier"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="location" nillable="true" type="COCT_MT530000UV.Location"/>
            <xs:element minOccurs="0" name="definition" nillable="true" type="COCT_MT530000UV.Definition"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="conditions" nillable="true" type="COCT_MT530000UV.Conditions"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="referenceRange" nillable="true" type="COCT_MT530000UV.ReferenceRange"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="sourceOf1" nillable="true" type="COCT_MT530000UV.SourceOf1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="sourceOf2" nillable="true" type="COCT_MT530000UV.SourceOf3"/>
            <xs:element minOccurs="0" name="subjectOf" nillable="true" type="COCT_MT530000UV.Subject1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="targetOf" nillable="true" type="COCT_MT530000UV.SourceOf2"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="ActClassObservation" use="required"/>
        <xs:attribute name="moodCode" type="x_ClinicalStatementObservationMood" use="required"/>
        <xs:attribute name="negationInd" type="bl" use="optional"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT530000UV.ObservationRange">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element minOccurs="0" name="text" type="ED"/>
            <xs:element name="value" type="ANY"/>
            <xs:element name="interpretationCode" type="CE"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="precondition" nillable="true" type="COCT_MT530000UV.Precondition1"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="ActClassObservation" use="required"/>
        <xs:attribute fixed="EVN.CRT" name="moodCode" type="ActMood" use="required"/>
        <xs:attribute default="false" name="negationInd" type="bl" use="optional"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT530000UV.Organization">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="id" type="II"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="name" type="ON"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="telecom" type="TEL"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="addr" type="AD"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="EntityClassOrganization" use="required"/>
        <xs:attribute fixed="INSTANCE" name="determinerCode" type="EntityDeterminer" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT530000UV.Organizer">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="id" type="II"/>
            <xs:element minOccurs="0" name="code" type="CD"/>
            <xs:element minOccurs="0" name="text" type="ED"/>
            <xs:element minOccurs="0" name="statusCode" type="CS"/>
            <xs:element minOccurs="0" name="effectiveTime" type="IVL_TS"/>
            <xs:element minOccurs="0" name="availabilityTime" type="TS"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="priorityCode" type="CE"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="confidentialityCode" type="CE"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="subject" nillable="true" type="COCT_MT530000UV.Subject2"/>
            <xs:element minOccurs="0" name="recordTarget" nillable="true" type="COCT_MT530000UV.RecordTarget"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="responsibleParty" nillable="true" type="COCT_MT530000UV.ResponsibleParty2"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="performer" nillable="true" type="COCT_MT530000UV.Performer"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="author" nillable="true" type="COCT_MT530000UV.Author"/>
            <xs:element minOccurs="0" name="dataEnterer" nillable="true" type="COCT_MT530000UV.DataEnterer"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="informant" nillable="true" type="COCT_MT530000UV.Informant"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="verifier" nillable="true" type="COCT_MT530000UV.Verifier"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="location" nillable="true" type="COCT_MT530000UV.Location"/>
            <xs:element minOccurs="0" name="definition" nillable="true" type="COCT_MT530000UV.Definition"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="conditions" nillable="true" type="COCT_MT530000UV.Conditions"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="component" nillable="true" type="COCT_MT530000UV.Component"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="sourceOf1" nillable="true" type="COCT_MT530000UV.SourceOf1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="sourceOf2" nillable="true" type="COCT_MT530000UV.SourceOf3"/>
            <xs:element minOccurs="0" name="subjectOf" nillable="true" type="COCT_MT530000UV.Subject1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="targetOf" nillable="true" type="COCT_MT530000UV.SourceOf2"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="ActClassContainer" use="required"/>
        <xs:attribute fixed="EVN" name="moodCode" type="ActMood" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT530000UV.Performer">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element minOccurs="0" name="functionCode" type="CE"/>
            <xs:element minOccurs="0" name="time" type="IVL_TS"/>
            <xs:element minOccurs="0" name="modeCode" type="CE"/>
            <xs:choice>
                <xs:element name="relatedEntity" nillable="true" type="COCT_MT530000UV.RelatedEntity"/>
                <xs:element name="patient" nillable="true" type="COCT_MT050000UV01.Patient"/>
                <xs:element name="assignedEntity" nillable="true" type="COCT_MT090000UV01.AssignedEntity"/>
            </xs:choice>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="ParticipationPhysicalPerformer" use="required"/>
        <xs:attribute default="OP" name="contextControlCode" type="ContextControl" use="optional"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT530000UV.Person">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="name" type="PN"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="telecom" type="TEL"/>
            <xs:element minOccurs="0" name="administrativeGenderCode" type="CE"/>
            <xs:element minOccurs="0" name="birthTime" type="TS"/>
            <xs:element minOccurs="0" name="multipleBirthInd" type="BL"/>
            <xs:element minOccurs="0" name="multipleBirthOrderNumber" type="INT"/>
            <xs:element minOccurs="0" name="maritalStatusCode" type="CE"/>
            <xs:element minOccurs="0" name="religiousAffiliationCode" type="CE"/>
            <xs:element minOccurs="0" name="raceCode" type="CE"/>
            <xs:element minOccurs="0" name="ethnicGroupCode" type="CE"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="asRole" nillable="true" type="COCT_MT530000UV.Role"/>
            <xs:element minOccurs="0" name="birthplace" nillable="true" type="COCT_MT530000UV.Birthplace"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute fixed="PSN" name="classCode" type="EntityClass" use="required"/>
        <xs:attribute fixed="INSTANCE" name="determinerCode" type="EntityDeterminer" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT530000UV.Place">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="name" type="EN"/>
            <xs:element minOccurs="0" name="addr" type="AD"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="EntityClassPlace" use="required"/>
        <xs:attribute fixed="INSTANCE" name="determinerCode" type="EntityDeterminer" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT530000UV.Precondition1">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element minOccurs="0" name="conjunctionCode" type="CS"/>
            <xs:element minOccurs="0" name="seperatableInd" type="BL"/>
            <xs:element name="criterion" nillable="true" type="COCT_MT530000UV.Criterion"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute fixed="PRCN" name="typeCode" type="ActRelationshipType" use="required"/>
        <xs:attribute default="OP" name="contextControlCode" type="ContextControl" use="optional"/>
        <xs:attribute default="true" name="contextConductionInd" type="bl" use="optional"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT530000UV.Precondition2">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element minOccurs="0" name="conjunctionCode" type="CS"/>
            <xs:element minOccurs="0" name="seperatableInd" type="BL"/>
            <xs:element name="criterion" nillable="true" type="COCT_MT530000UV.Criterion"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute fixed="PRCN" name="typeCode" type="ActRelationshipType" use="required"/>
        <xs:attribute default="ON" name="contextControlCode" type="ContextControl" use="optional"/>
        <xs:attribute default="false" name="contextConductionInd" type="bl" use="optional"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT530000UV.Procedure">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="id" type="II"/>
            <xs:element minOccurs="0" name="code" type="CD"/>
            <xs:element minOccurs="0" name="text" type="ED"/>
            <xs:element minOccurs="0" name="statusCode" type="CS"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="effectiveTime" type="SXCM_TS"/>
            <xs:element minOccurs="0" name="availabilityTime" type="TS"/>
            <xs:element minOccurs="0" name="priorityCode" type="CE"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="confidentialityCode" type="CE"/>
            <xs:element minOccurs="0" name="interruptibleInd" type="BL"/>
            <xs:element minOccurs="0" name="uncertaintyCode" type="CE"/>
            <xs:element minOccurs="0" name="languageCode" type="CE"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="methodCode" type="CE"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="approachSiteCode" type="CD"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="targetSiteCode" type="CD"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="subject" nillable="true" type="COCT_MT530000UV.Subject2"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="device" nillable="true" type="COCT_MT530000UV.Device"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="product" nillable="true" type="COCT_MT530000UV.Product2"/>
            <xs:element minOccurs="0" name="recordTarget" nillable="true" type="COCT_MT530000UV.RecordTarget"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="responsibleParty" nillable="true" type="COCT_MT530000UV.ResponsibleParty2"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="performer" nillable="true" type="COCT_MT530000UV.Performer"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="author" nillable="true" type="COCT_MT530000UV.Author"/>
            <xs:element minOccurs="0" name="dataEnterer" nillable="true" type="COCT_MT530000UV.DataEnterer"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="informant" nillable="true" type="COCT_MT530000UV.Informant"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="verifier" nillable="true" type="COCT_MT530000UV.Verifier"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="location" nillable="true" type="COCT_MT530000UV.Location"/>
            <xs:element minOccurs="0" name="definition" nillable="true" type="COCT_MT530000UV.Definition"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="conditions" nillable="true" type="COCT_MT530000UV.Conditions"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="sourceOf1" nillable="true" type="COCT_MT530000UV.SourceOf1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="sourceOf2" nillable="true" type="COCT_MT530000UV.SourceOf3"/>
            <xs:element minOccurs="0" name="subjectOf" nillable="true" type="COCT_MT530000UV.Subject1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="targetOf" nillable="true" type="COCT_MT530000UV.SourceOf2"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="ActClassProcedure" use="required"/>
        <xs:attribute name="moodCode" type="x_ClinicalStatementProcedureMood" use="required"/>
        <xs:attribute name="negationInd" type="bl" use="optional"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT530000UV.Product1">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element name="manufacturedProduct" type="COCT_MT530000UV.ManufacturedProduct"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute fixed="PRD" name="typeCode" type="ParticipationType" use="required"/>
        <xs:attribute name="contextControlCode" type="ContextControl" use="optional"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT530000UV.Product2">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element minOccurs="0" name="sequenceNumber" type="INT"/>
            <xs:element name="specimen" nillable="true" type="COCT_MT080000UV.Specimen"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute fixed="PRD" name="typeCode" type="ParticipationType" use="required"/>
        <xs:attribute name="contextControlCode" type="ContextControl" use="optional"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT530000UV.RecordTarget">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element name="patient" nillable="true" type="COCT_MT050000UV01.Patient"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute fixed="RCT" name="typeCode" type="ParticipationType" use="required"/>
        <xs:attribute default="OP" name="contextControlCode" type="ContextControl" use="optional"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT530000UV.ReferenceRange">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element minOccurs="0" name="seperatableInd" type="BL"/>
            <xs:element name="observationRange" nillable="true" type="COCT_MT530000UV.ObservationRange"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute fixed="REFV" name="typeCode" type="ActRelationshipType" use="required"/>
        <xs:attribute default="ON" name="contextControlCode" type="ContextControl" use="optional"/>
        <xs:attribute default="false" name="contextConductionInd" type="bl" use="optional"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT530000UV.RelatedEntity">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="id" type="II"/>
            <xs:element minOccurs="0" name="code" type="CE"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="addr" type="AD"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="telecom" type="TEL"/>
            <xs:choice>
                <xs:choice>
                    <xs:element minOccurs="0" name="relatedPerson" nillable="true" type="COCT_MT530000UV.Person"/>
                    <xs:element minOccurs="0" name="relatedAnimal" nillable="true" type="COCT_MT530000UV.Animal"/>
                </xs:choice>
                <xs:element minOccurs="0" name="relatedEntity" nillable="true" type="COCT_MT530000UV.Entity"/>
            </xs:choice>
            <xs:choice>
                <xs:choice>
                    <xs:element minOccurs="0" name="scopingPerson" nillable="true" type="COCT_MT530000UV.Person"/>
                    <xs:element minOccurs="0" name="scopingAnimal" nillable="true" type="COCT_MT530000UV.Animal"/>
                </xs:choice>
                <xs:element minOccurs="0" name="scopingEntity" nillable="true" type="COCT_MT530000UV.Entity"/>
            </xs:choice>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="RoleClassMutualRelationship" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT530000UV.ResponsibleParty1">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element name="assignedPerson" nillable="true" type="COCT_MT090102UV02.AssignedPerson"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute fixed="RESP" name="typeCode" type="ParticipationType" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT530000UV.ResponsibleParty2">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element name="assignedEntity" nillable="true" type="COCT_MT090000UV01.AssignedEntity"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute fixed="RESP" name="typeCode" type="ParticipationType" use="required"/>
        <xs:attribute name="contextControlCode" type="ContextControl" use="optional"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT530000UV.Role">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element name="id" type="II"/>
            <xs:element minOccurs="0" name="code" type="CE"/>
            <xs:element minOccurs="0" name="scopingOrganization" nillable="true" type="COCT_MT530000UV.Organization"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="RoleClassRoot" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT530000UV.SourceOf1">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element minOccurs="0" name="sequenceNumber" type="INT"/>
            <xs:element minOccurs="0" name="pauseQuantity" type="PQ"/>
            <xs:element minOccurs="0" name="conjunctionCode" type="CS"/>
            <xs:element minOccurs="0" name="seperatableInd" type="BL"/>
            <xs:element name="actReference" nillable="true" type="COCT_MT530000UV.ActReference"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
        <xs:attribute name="inversionInd" type="bl" use="optional"/>
        <xs:attribute name="contextControlCode" type="ContextControl" use="optional"/>
        <xs:attribute default="false" name="contextConductionInd" type="bl" use="optional"/>
        <xs:attribute name="negationInd" type="bl" use="optional"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT530000UV.SourceOf2">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element minOccurs="0" name="sequenceNumber" type="INT"/>
            <xs:element minOccurs="0" name="pauseQuantity" type="PQ"/>
            <xs:element minOccurs="0" name="conjunctionCode" type="CS"/>
            <xs:element minOccurs="0" name="seperatableInd" type="BL"/>
            <xs:choice>
                <xs:element name="observation" nillable="true" type="COCT_MT530000UV.Observation"/>
                <xs:element name="substanceAdministration" nillable="true" type="COCT_MT530000UV.SubstanceAdministration"/>
                <xs:element name="supply" nillable="true" type="COCT_MT530000UV.Supply"/>
                <xs:element name="procedure" nillable="true" type="COCT_MT530000UV.Procedure"/>
                <xs:element name="encounter" nillable="true" type="COCT_MT530000UV.Encounter"/>
                <xs:element name="act" nillable="true" type="COCT_MT530000UV.Act"/>
                <xs:element name="organizer" nillable="true" type="COCT_MT530000UV.Organizer"/>
            </xs:choice>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
        <xs:attribute default="AN" name="contextControlCode" type="ContextControl" use="optional"/>
        <xs:attribute default="true" name="contextConductionInd" type="bl" use="optional"/>
        <xs:attribute name="negationInd" type="bl" use="optional"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT530000UV.SourceOf3">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element minOccurs="0" name="sequenceNumber" type="INT"/>
            <xs:element minOccurs="0" name="pauseQuantity" type="PQ"/>
            <xs:element minOccurs="0" name="conjunctionCode" type="CS"/>
            <xs:element minOccurs="0" name="seperatableInd" type="BL"/>
            <xs:choice>
                <xs:element name="observation" nillable="true" type="COCT_MT530000UV.Observation"/>
                <xs:element name="substanceAdministration" nillable="true" type="COCT_MT530000UV.SubstanceAdministration"/>
                <xs:element name="supply" nillable="true" type="COCT_MT530000UV.Supply"/>
                <xs:element name="procedure" nillable="true" type="COCT_MT530000UV.Procedure"/>
                <xs:element name="encounter" nillable="true" type="COCT_MT530000UV.Encounter"/>
                <xs:element name="act" nillable="true" type="COCT_MT530000UV.Act"/>
                <xs:element name="organizer" nillable="true" type="COCT_MT530000UV.Organizer"/>
            </xs:choice>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
        <xs:attribute default="AN" name="contextControlCode" type="ContextControl" use="optional"/>
        <xs:attribute default="true" name="contextConductionInd" type="bl" use="optional"/>
        <xs:attribute name="negationInd" type="bl" use="optional"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT530000UV.Subject1">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element name="controlActEvent" nillable="true" type="COCT_MT530000UV.ControlActEvent"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute fixed="SUBJ" name="typeCode" type="ActRelationshipType" use="optional"/>
        <xs:attribute name="contextControlCode" type="ContextControl" use="optional"/>
        <xs:attribute default="false" name="contextConductionInd" type="bl" use="optional"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT530000UV.Subject2">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element minOccurs="0" name="sequenceNumber" type="INT"/>
            <xs:element minOccurs="0" name="awarenessCode" type="CE"/>
            <xs:choice>
                <xs:element name="patient" nillable="true" type="COCT_MT050000UV01.Patient"/>
                <xs:element name="relatedEntity" nillable="true" type="COCT_MT530000UV.RelatedEntity"/>
                <xs:element name="specimen" nillable="true" type="COCT_MT080000UV.Specimen"/>
            </xs:choice>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="ParticipationTargetSubject" use="required"/>
        <xs:attribute default="OP" name="contextControlCode" type="ContextControl" use="optional"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT530000UV.SubstanceAdministration">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="id" type="II"/>
            <xs:element minOccurs="0" name="code" type="CD"/>
            <xs:element minOccurs="0" name="text" type="ED"/>
            <xs:element minOccurs="0" name="statusCode" type="CS"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="effectiveTime" type="SXCM_TS"/>
            <xs:element minOccurs="0" name="availabilityTime" type="TS"/>
            <xs:element minOccurs="0" name="priorityCode" type="CE"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="confidentialityCode" type="CE"/>
            <xs:element minOccurs="0" name="repeatNumber" type="IVL_INT"/>
            <xs:element minOccurs="0" name="languageCode" type="CE"/>
            <xs:element minOccurs="0" name="routeCode" type="CE"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="approachSiteCode" type="CD"/>
            <xs:element minOccurs="0" name="doseQuantity" type="IVL_PQ"/>
            <xs:element minOccurs="0" name="rateQuantity" type="IVL_PQ"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="doseCheckQuantity" type="RTO_QTY_QTY"/>
            <xs:element minOccurs="0" name="maxDoseQuantity" type="RTO_PQ_PQ"/>
            <xs:element minOccurs="0" name="administrationUnitCode" type="CE"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="subject" nillable="true" type="COCT_MT530000UV.Subject2"/>
            <xs:element minOccurs="0" name="consumable" nillable="true" type="COCT_MT530000UV.Consumable"/>
            <xs:element minOccurs="0" name="recordTarget" nillable="true" type="COCT_MT530000UV.RecordTarget"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="responsibleParty" nillable="true" type="COCT_MT530000UV.ResponsibleParty2"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="performer" nillable="true" type="COCT_MT530000UV.Performer"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="author" nillable="true" type="COCT_MT530000UV.Author"/>
            <xs:element minOccurs="0" name="dataEnterer" nillable="true" type="COCT_MT530000UV.DataEnterer"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="informant" nillable="true" type="COCT_MT530000UV.Informant"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="verifier" nillable="true" type="COCT_MT530000UV.Verifier"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="location" nillable="true" type="COCT_MT530000UV.Location"/>
            <xs:element minOccurs="0" name="definition" nillable="true" type="COCT_MT530000UV.Definition"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="conditions" nillable="true" type="COCT_MT530000UV.Conditions"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="sourceOf1" nillable="true" type="COCT_MT530000UV.SourceOf1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="sourceOf2" nillable="true" type="COCT_MT530000UV.SourceOf3"/>
            <xs:element minOccurs="0" name="subjectOf" nillable="true" type="COCT_MT530000UV.Subject1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="targetOf" nillable="true" type="COCT_MT530000UV.SourceOf2"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute fixed="SBADM" name="classCode" type="ActClass" use="required"/>
        <xs:attribute name="moodCode" type="x_ClinicalStatementSubstanceMood" use="required"/>
        <xs:attribute name="negationInd" type="bl" use="optional"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT530000UV.Supply">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="id" type="II"/>
            <xs:element minOccurs="0" name="code" type="CD"/>
            <xs:element minOccurs="0" name="text" type="ED"/>
            <xs:element minOccurs="0" name="statusCode" type="CS"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="effectiveTime" type="SXCM_TS"/>
            <xs:element minOccurs="0" name="availabilityTime" type="TS"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="priorityCode" type="CE"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="confidentialityCode" type="CE"/>
            <xs:element minOccurs="0" name="repeatNumber" type="IVL_INT"/>
            <xs:element minOccurs="0" name="independentInd" type="BL"/>
            <xs:element minOccurs="0" name="languageCode" type="CE"/>
            <xs:element minOccurs="0" name="quantity" type="PQ"/>
            <xs:element minOccurs="0" name="expectedUseTime" type="IVL_TS"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="subject" nillable="true" type="COCT_MT530000UV.Subject2"/>
            <xs:element maxOccurs="unbounded" name="product" type="COCT_MT530000UV.Product1"/>
            <xs:element minOccurs="0" name="recordTarget" nillable="true" type="COCT_MT530000UV.RecordTarget"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="responsibleParty" nillable="true" type="COCT_MT530000UV.ResponsibleParty2"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="performer" nillable="true" type="COCT_MT530000UV.Performer"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="author" nillable="true" type="COCT_MT530000UV.Author"/>
            <xs:element minOccurs="0" name="dataEnterer" nillable="true" type="COCT_MT530000UV.DataEnterer"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="informant" nillable="true" type="COCT_MT530000UV.Informant"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="verifier" nillable="true" type="COCT_MT530000UV.Verifier"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="location" nillable="true" type="COCT_MT530000UV.Location"/>
            <xs:element minOccurs="0" name="definition" nillable="true" type="COCT_MT530000UV.Definition"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="conditions" nillable="true" type="COCT_MT530000UV.Conditions"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="sourceOf1" nillable="true" type="COCT_MT530000UV.SourceOf1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="sourceOf2" nillable="true" type="COCT_MT530000UV.SourceOf3"/>
            <xs:element minOccurs="0" name="subjectOf" nillable="true" type="COCT_MT530000UV.Subject1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="targetOf" nillable="true" type="COCT_MT530000UV.SourceOf2"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="ActClassSupply" use="required"/>
        <xs:attribute name="moodCode" type="x_ClinicalStatementSupplyMood" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT530000UV.Verifier">
        <xs:sequence>
            <xs:group ref="InfrastructureRootElements"/>
            <xs:element minOccurs="0" name="noteText" type="ED"/>
            <xs:element minOccurs="0" name="time" type="TS"/>
            <xs:element minOccurs="0" name="modeCode" type="CE"/>
            <xs:element minOccurs="0" name="signatureCode" type="CS"/>
            <xs:element minOccurs="0" name="signatureText" type="ED"/>
            <xs:element name="assignedEntity" nillable="true" type="COCT_MT090000UV01.AssignedEntity"/>
        </xs:sequence>
        <xs:attributeGroup ref="InfrastructureRootAttributes"/>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="ParticipationVerifier" use="required"/>
        <xs:attribute default="OP" name="contextControlCode" type="ContextControl" use="optional"/>
    </xs:complexType>
</xs:schema>
