protocol-terminators/epsos-ncp-client/epsos-client-connector/src/main/resources/wsdl/ClientConnectorService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3-b02-. -->
<definitions targetNamespace="http://clientconnector.protocolterminator.openncp.epsos/"
             name="ClientConnectorServiceService" xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:tns="http://clientconnector.protocolterminator.openncp.epsos/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy"
             xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
             xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://clientconnector.protocolterminator.openncp.epsos/"
                        schemaLocation="ClientConnectorService.xsd"/>
        </xsd:schema>
    </types>

    <message name="sayHello">
        <part name="parameters" element="tns:sayHello"/>
    </message>
    <message name="sayHelloResponse">
        <part name="parameters" element="tns:sayHelloResponse"/>
    </message>
    <message name="queryPatient">
        <part name="parameters" element="tns:queryPatient"/>
    </message>
    <message name="queryPatientResponse">
        <part name="parameters" element="tns:queryPatientResponse"/>
    </message>
    <message name="queryDocuments">
        <part name="parameters" element="tns:queryDocuments"/>
    </message>
    <message name="queryDocumentsResponse">
        <part name="parameters" element="tns:queryDocumentsResponse"/>
    </message>
    <message name="retrieveDocument">
        <part name="parameters" element="tns:retrieveDocument"/>
    </message>
    <message name="retrieveDocumentResponse">
        <part name="parameters" element="tns:retrieveDocumentResponse"/>
    </message>
    <message name="submitDocument">
        <part name="parameters" element="tns:submitDocument"/>
    </message>
    <message name="submitDocumentResponse">
        <part name="parameters" element="tns:submitDocumentResponse"/>
    </message>
    <portType name="ClientConnectorService">
        <operation name="sayHello">
            <input message="tns:sayHello"/>
            <output message="tns:sayHelloResponse"/>
        </operation>
        <operation name="queryPatient">
            <input message="tns:queryPatient"/>
            <output message="tns:queryPatientResponse"/>
        </operation>
        <operation name="queryDocuments">
            <input message="tns:queryDocuments"/>
            <output message="tns:queryDocumentsResponse"/>
        </operation>
        <operation name="retrieveDocument">
            <input message="tns:retrieveDocument"/>
            <output message="tns:retrieveDocumentResponse"/>
        </operation>
        <operation name="submitDocument">
            <input message="tns:submitDocument"/>
            <output message="tns:submitDocumentResponse"/>
        </operation>
    </portType>
    <binding name="ClientConnectorServicePortBinding" type="tns:ClientConnectorService">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="sayHello">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="queryPatient">
            <wsp:PolicyReference URI="#HttpsWithSAML2AssertionPolicy"/>
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="queryDocuments">
            <wsp:PolicyReference URI="#HttpsWithSAML2AssertionPolicy"/>
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="retrieveDocument">
            <wsp:PolicyReference URI="#HttpsWithSAML2AssertionPolicy"/>
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="submitDocument">
            <wsp:PolicyReference URI="#HttpsWithSAML2AssertionPolicy"/>
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="ClientConnectorServiceService">
        <port name="ClientConnectorServicePort" binding="tns:ClientConnectorServicePortBinding">
            <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
        </port>
    </service>

    <wsp:Policy wsu:Id="HttpsWithSAML2AssertionPolicy">
        <wsp:ExactlyOne>
            <wsp:All>
                <sp:SupportingTokens>
                    <wsp:Policy>
                        <sp:SamlToken sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
                            <wsp:Policy>
                                <sp:WssSamlV20Token11/>
                            </wsp:Policy>
                        </sp:SamlToken>
                    </wsp:Policy>
                </sp:SupportingTokens>
                <sp:TransportToken>
                    <wsp:Policy>
                        <sp:HttpsToken RequireClientCertificate="true"/>
                    </wsp:Policy>
                </sp:TransportToken>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>

</definitions>

