util/src/main/resources/gazelle.wsdls/GazelleObjectValidatorWS.xml

<definitions xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/' xmlns:tns='http://ws.validator.sch.gazelle.ihe.net/'
             name='GazelleObjectValidatorService' targetNamespace='http://ws.validator.sch.gazelle.ihe.net/'
             xmlns='http://schemas.xmlsoap.org/wsdl/'>
    <types>
        <xs:schema xmlns:tns='http://ws.validator.sch.gazelle.ihe.net/' xmlns:xs='http://www.w3.org/2001/XMLSchema'
                   targetNamespace='http://ws.validator.sch.gazelle.ihe.net/' version='1.0'>
            <xs:element name='SOAPException' type='tns:SOAPException'/>
            <xs:element name='getAllAvailableObjectTypes' type='tns:getAllAvailableObjectTypes'/>
            <xs:element name='getAllAvailableObjectTypesResponse' type='tns:getAllAvailableObjectTypesResponse'/>
            <xs:element name='getAllSchematrons' type='tns:getAllSchematrons'/>
            <xs:element name='getAllSchematronsResponse' type='tns:getAllSchematronsResponse'/>
            <xs:element name='getSchematronByName' type='tns:getSchematronByName'/>
            <xs:element name='getSchematronByNameResponse' type='tns:getSchematronByNameResponse'/>
            <xs:element name='getSchematronsForAGivenType' type='tns:getSchematronsForAGivenType'/>
            <xs:element name='getSchematronsForAGivenTypeResponse' type='tns:getSchematronsForAGivenTypeResponse'/>
            <xs:element name='validateObject' type='tns:validateObject'/>
            <xs:element name='validateObjectResponse' type='tns:validateObjectResponse'/>
            <xs:complexType name='getSchematronsForAGivenType'>
                <xs:sequence>
                    <xs:element minOccurs='0' name='fileType' type='xs:string'/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name='getSchematronsForAGivenTypeResponse'>
                <xs:sequence>
                    <xs:element maxOccurs='unbounded' minOccurs='0' name='schematrons' type='tns:schematron'/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name='schematron'>
                <xs:complexContent>
                    <xs:extension base='tns:auditModule'>
                        <xs:sequence>
                            <xs:element name='available' type='xs:boolean'/>
                            <xs:element minOccurs='0' name='description' type='xs:string'/>
                            <xs:element minOccurs='0' name='id' type='xs:int'/>
                            <xs:element minOccurs='0' name='label' type='xs:string'/>
                            <xs:element minOccurs='0' name='name' type='xs:string'/>
                            <xs:element minOccurs='0' name='needReportGeneration' type='xs:boolean'/>
                            <xs:element minOccurs='0' name='objectType' type='tns:objectType'/>
                            <xs:element minOccurs='0' name='path' type='xs:string'/>
                            <xs:element minOccurs='0' name='provider' type='xs:string'/>
                            <xs:element minOccurs='0' name='version' type='xs:string'/>
                            <xs:element minOccurs='0' name='xsdPath' type='xs:string'/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType abstract='true' name='auditModule'>
                <xs:sequence>
                    <xs:element minOccurs='0' name='lastModifierId' type='xs:string'/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name='objectType'>
                <xs:complexContent>
                    <xs:extension base='tns:auditModule'>
                        <xs:sequence>
                            <xs:element minOccurs='0' name='description' type='xs:string'/>
                            <xs:element minOccurs='0' name='id' type='xs:int'/>
                            <xs:element minOccurs='0' name='keyword' type='xs:string'/>
                            <xs:element minOccurs='0' name='labelToDisplay' type='xs:string'/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name='SOAPException'>
                <xs:sequence>
                    <xs:element minOccurs='0' name='message' type='xs:string'/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name='getSchematronByName'>
                <xs:sequence>
                    <xs:element minOccurs='0' name='schematronName' type='xs:string'/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name='getSchematronByNameResponse'>
                <xs:sequence>
                    <xs:element minOccurs='0' name='schematron' type='xs:string'/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name='validateObject'>
                <xs:sequence>
                    <xs:element minOccurs='0' name='base64ObjectToValidate' type='xs:string'/>
                    <xs:element minOccurs='0' name='xmlReferencedStandard' type='xs:string'/>
                    <xs:element minOccurs='0' name='xmlMetadata' type='xs:string'/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name='validateObjectResponse'>
                <xs:sequence>
                    <xs:element minOccurs='0' name='validationResult' type='xs:string'/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name='getAllAvailableObjectTypes'>
                <xs:sequence/>
            </xs:complexType>
            <xs:complexType name='getAllAvailableObjectTypesResponse'>
                <xs:sequence>
                    <xs:element maxOccurs='unbounded' minOccurs='0' name='objectType' type='tns:objectType'/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name='getAllSchematrons'>
                <xs:sequence/>
            </xs:complexType>
            <xs:complexType name='getAllSchematronsResponse'>
                <xs:sequence>
                    <xs:element maxOccurs='unbounded' minOccurs='0' name='schematrons' type='tns:schematron'/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </types>
    <message name='GazelleObjectValidator_getAllSchematrons'>
        <part element='tns:getAllSchematrons' name='getAllSchematrons'></part>
    </message>
    <message name='GazelleObjectValidator_validateObject'>
        <part element='tns:validateObject' name='validateObject'></part>
    </message>
    <message name='GazelleObjectValidator_getSchematronsForAGivenTypeResponse'>
        <part element='tns:getSchematronsForAGivenTypeResponse' name='getSchematronsForAGivenTypeResponse'></part>
    </message>
    <message name='GazelleObjectValidator_getSchematronByNameResponse'>
        <part element='tns:getSchematronByNameResponse' name='getSchematronByNameResponse'></part>
    </message>
    <message name='GazelleObjectValidator_getAllSchematronsResponse'>
        <part element='tns:getAllSchematronsResponse' name='getAllSchematronsResponse'></part>
    </message>
    <message name='GazelleObjectValidator_getSchematronsForAGivenType'>
        <part element='tns:getSchematronsForAGivenType' name='getSchematronsForAGivenType'></part>
    </message>
    <message name='SOAPException'>
        <part element='tns:SOAPException' name='SOAPException'></part>
    </message>
    <message name='GazelleObjectValidator_getAllAvailableObjectTypesResponse'>
        <part element='tns:getAllAvailableObjectTypesResponse' name='getAllAvailableObjectTypesResponse'></part>
    </message>
    <message name='GazelleObjectValidator_validateObjectResponse'>
        <part element='tns:validateObjectResponse' name='validateObjectResponse'></part>
    </message>
    <message name='GazelleObjectValidator_getAllAvailableObjectTypes'>
        <part element='tns:getAllAvailableObjectTypes' name='getAllAvailableObjectTypes'></part>
    </message>
    <message name='GazelleObjectValidator_getSchematronByName'>
        <part element='tns:getSchematronByName' name='getSchematronByName'></part>
    </message>
    <portType name='GazelleObjectValidator'>
        <operation name='getAllAvailableObjectTypes' parameterOrder='getAllAvailableObjectTypes'>
            <input message='tns:GazelleObjectValidator_getAllAvailableObjectTypes'></input>
            <output message='tns:GazelleObjectValidator_getAllAvailableObjectTypesResponse'></output>
        </operation>
        <operation name='getAllSchematrons' parameterOrder='getAllSchematrons'>
            <input message='tns:GazelleObjectValidator_getAllSchematrons'></input>
            <output message='tns:GazelleObjectValidator_getAllSchematronsResponse'></output>
            <fault message='tns:SOAPException' name='SOAPException'></fault>
        </operation>
        <operation name='getSchematronByName' parameterOrder='getSchematronByName'>
            <input message='tns:GazelleObjectValidator_getSchematronByName'></input>
            <output message='tns:GazelleObjectValidator_getSchematronByNameResponse'></output>
            <fault message='tns:SOAPException' name='SOAPException'></fault>
        </operation>
        <operation name='getSchematronsForAGivenType' parameterOrder='getSchematronsForAGivenType'>
            <input message='tns:GazelleObjectValidator_getSchematronsForAGivenType'></input>
            <output message='tns:GazelleObjectValidator_getSchematronsForAGivenTypeResponse'></output>
            <fault message='tns:SOAPException' name='SOAPException'></fault>
        </operation>
        <operation name='validateObject' parameterOrder='validateObject'>
            <input message='tns:GazelleObjectValidator_validateObject'></input>
            <output message='tns:GazelleObjectValidator_validateObjectResponse'></output>
            <fault message='tns:SOAPException' name='SOAPException'></fault>
        </operation>
    </portType>
    <binding name='GazelleObjectValidatorBinding' type='tns:GazelleObjectValidator'>
        <soap:binding style='document' transport='http://schemas.xmlsoap.org/soap/http'/>
        <operation name='getAllAvailableObjectTypes'>
            <soap:operation soapAction=''/>
            <input>
                <soap:body use='literal'/>
            </input>
            <output>
                <soap:body use='literal'/>
            </output>
        </operation>
        <operation name='getAllSchematrons'>
            <soap:operation soapAction=''/>
            <input>
                <soap:body use='literal'/>
            </input>
            <output>
                <soap:body use='literal'/>
            </output>
            <fault name='SOAPException'>
                <soap:fault name='SOAPException' use='literal'/>
            </fault>
        </operation>
        <operation name='getSchematronByName'>
            <soap:operation soapAction=''/>
            <input>
                <soap:body use='literal'/>
            </input>
            <output>
                <soap:body use='literal'/>
            </output>
            <fault name='SOAPException'>
                <soap:fault name='SOAPException' use='literal'/>
            </fault>
        </operation>
        <operation name='getSchematronsForAGivenType'>
            <soap:operation soapAction=''/>
            <input>
                <soap:body use='literal'/>
            </input>
            <output>
                <soap:body use='literal'/>
            </output>
            <fault name='SOAPException'>
                <soap:fault name='SOAPException' use='literal'/>
            </fault>
        </operation>
        <operation name='validateObject'>
            <soap:operation soapAction=''/>
            <input>
                <soap:body use='literal'/>
            </input>
            <output>
                <soap:body use='literal'/>
            </output>
            <fault name='SOAPException'>
                <soap:fault name='SOAPException' use='literal'/>
            </fault>
        </operation>
    </binding>
    <service name='GazelleObjectValidatorService'>
        <port binding='tns:GazelleObjectValidatorBinding' name='GazelleObjectValidatorPort'>
            <soap:address
                    location='https://gazelle.ihe.net/SchematronValidator-ejb/GazelleObjectValidatorService/GazelleObjectValidator'/>
        </port>
    </service>
</definitions>